.contact{
    width: 980px;
    height: 600px;
    position: absolute;
    top: 2840px;
    left: 400px;
    border-radius: 20px;
    background-color: rgba(7, 16, 22, 0.88);
    box-shadow: 0px 6px 15px 0px silver;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    color: aliceblue;
    transition: all .3s ease-in-out;
}
.contact h3{
    padding: 40px;
    margin-bottom: 35px;
}
.contact h3 span{
    width: 30px;
    height: 6px;
    border-radius: 8px;
    position: absolute;
    margin-bottom: 40px;
    background-color: crimson;
}
.phone,.email,.location{
    padding-left: 60px;
    margin-bottom: 30px;
}
.phone h4,.email h4,.location h4{
    margin-left: 50px;
}
.phone span,.email span,.location span{
    margin-left: 50px;
}
input,textarea{
    outline: none;
    border-radius: 30px;
    background-color: rgba(7, 16, 22, 0.88);
    color: white;
    text-align: center;
    border: 1px solid white;
}
.name{
    position: absolute;
    top: 170px;
    left: 310px;
    width: 300px;
    height: 40px;
}
.mail{
    position: absolute;
    top: 170px;
    left: 630px;
    width: 300px;
    height: 40px;
}
.msg{
    position: absolute;
    top: 250px;
    left: 310px;
    width: 620px;
    height: 40px;
}
.query{
    position: absolute;
    top: 330px;
    left: 310px;
}
.sub{
    position: absolute;
    top: 500px;
    left: 550px;
}
.icon1{
    position: absolute;
    top: 170px;
}
.icon2{
    position: absolute;
    top: 250px;
}
.icon3{
    position: absolute;
    top: 330px;
}
i{
    font-size: 30px;
    margin-right: 20px;
    color: crimson;
}